services:
  kong-db:
    image: postgres:16
    container_name: kong-db
    environment:
      POSTGRES_USER: kong
      POSTGRES_DB: kong
      POSTGRES_PASSWORD: kong
    volumes:
      - kong_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kong -d kong"]
      interval: 5s
      timeout: 5s
      retries: 20
    restart: unless-stopped
    networks:
      - kong-net

  kong-migrations:
    image: kong/kong:latest
    container_name: kong-migrations
    command: >
      sh -lc "
        kong migrations bootstrap ||
        (kong migrations up && kong migrations finish)
      "
    depends_on:
      kong-db:
        condition: service_healthy
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-db
      KONG_PG_DATABASE: kong
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong
    restart: "no"
    networks:
      - kong-net

  kong:
    image: kong/kong:latest
    container_name: kong
    depends_on:
      kong-db:
        condition: service_healthy
      kong-migrations:
        condition: service_completed_successfully
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-db
      KONG_PG_DATABASE: kong
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kong

      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      KONG_PROXY_LISTEN: 0.0.0.0:8000
      KONG_STATUS_LISTEN: 0.0.0.0:8100

      # เปิด prometheus plugin (ยังต้อง enable ผ่าน Admin API อีกที)
      KONG_PLUGINS: bundled,prometheus

      # logs ออก stdout/stderr
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ERROR_LOG: /dev/stderr
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8100:8100"
    restart: unless-stopped
    networks:
      - kong-net

  hello-api:
    build: ./mock-service
    container_name: hello-api
    ports:
      - "4000:4000"
    restart: unless-stopped
    networks:
      - kong-net

  grafana:
    image: grafana/grafana:11.6.1
    container_name: grafana
    restart: unless-stopped
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./provisioning:/etc/grafana/provisioning:ro
    depends_on:
      - alloy
      - mimir
      - loki
    networks:
      - kong-net

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    command:
      - run
      - --server.http.listen-addr=0.0.0.0:12345
      - --storage.path=/var/lib/alloy/data
      - /etc/alloy/config.alloy
    ports:
      - "12345:12345"
      - "14317:4317" # otlp grpc
      - "14318:4318" # otlp http
    volumes:
      - ./alloy:/etc/alloy:ro
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - loki
      - mimir
      - kong
    restart: unless-stopped
    networks:
      - kong-net

  mimir:
    image: grafana/mimir:latest
    container_name: mimir
    command:
      - "-target=all"
      - "--config.file=/etc/mimir.yaml"
    ports:
      - "9009:9009"
    volumes:
      - ./mimir/mimir.yaml:/etc/mimir.yaml:ro
    restart: unless-stopped
    networks:
      - kong-net
  loki:
    image: grafana/loki:3.4.2
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./loki/loki.yaml:/etc/local-config.yaml:ro
    command: -config.file=/etc/local-config.yaml
    restart: unless-stopped
    networks:
      - kong-net

networks:
  kong-net:
    external: true

volumes:
  kong_db_data:
  grafana-storage: